# --- Python & Environment ---
# Exclude the virtual environment and compiled Python files
**/venv/
**/.venv/
**/__pycache__/
**/*.pyc

# --- dbt & Databases ---
# Exclude the compiled 'target' folder (it's recreated every time you run dbt)
**/target/
# Exclude logs and packages
**/logs/
**/dbt_packages/
# CRITICAL: Exclude the local DuckDB database file (too large for GitHub)
**/dev.duckdb
**/dev.duckdb.wal

# --- Data Files ---
# Exclude raw CSV files in any 'data' or 'seeds' folder
**/data/*.csv
**/seeds/*.csv

# --- IDE & OS ---
# Exclude VS Code settings and Mac system files
.vscode/
.DS_Store