# Database file (Never push your raw data or DB to GitHub)
*.duckdb

# Python Virtual Environment
dbt-env/
__pycache__/

# dbt Logs and Compiled files (These change every time you run dbt)
logs/
target/
dbt_modules/
dbt_packages/

# Local connection profiles (IMPORTANT: contains paths/passwords)
# Note: Since my profiles.yml is in ~/.dbt/, it's already safe.
# But if you ever move it into the project, add it here.
