# Database file (Never push your raw data or DB to GitHub)
*.duckdb
*.csv

# Python Virtual Environment
dbt-env/
__pycache__/

# dbt Logs and Compiled files (These change every time you run dbt)
logs/
target/
dbt_modules/
dbt_packages/
